@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  max-width: 42rem;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.6;
  color: #04351a;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
  font-weight: 700;
}

.blog-link {
  color: #11d17a;
  text-decoration: none;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

nav a {
    margin: 0 15px;
    color: #666;
    text-decoration: none;
}

.logo {
    text-align: center;
    margin: 20px 0;
}

.logo img {
    width: 48px;
    height: 48px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 70vh;
  padding: 2rem;
}

.construction {
  text-align: center;
}

footer {
  text-align: center;
  padding: 1rem;
  color: #666;
  margin-top: auto;
}

.current-ongoings {
  text-align: left;
  margin-left: 2.5rem;
  margin-bottom: 1rem;
}

.custom-list {
  padding-left: 2rem;
}

.custom-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 0.5rem;
}

.hello-image {
  max-width: 400px; /* imagen más pequeña */
  height: auto;
}

.image-container {
  text-align: center;
  margin: 2rem auto;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-caption {
  margin-top: 1rem;
  font-style: italic;
  color: #666;
  text-align: center;
  width: 100%;
}